@font-face {
  font-family: 'Light';
  src: url('../assets/fonts/glober-light.otf');
}

@font-face {
  font-family: 'Regular';
  src: url('../assets/fonts/glober-regular.otf');
}

@font-face {
  font-family: 'Semi Bold';
  src: url('../assets/fonts/glober-semi-bold.otf');
}

@font-face {
  font-family: 'Bold';
  src: url('../assets/fonts/glober-bold.otf');
}

@font-face {
  font-family: 'X Bold';
  src: url('../assets/fonts/glober-xbold.otf');
}
